<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.pok3r</string>
	<key>CFBundleName</key>
	<string>pok3r_v4</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>KLInfo_pok3r_v4</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.pok3r.pok3r_v4</string>
		<key>TISIntendedLanguage</key>
		<string>hr-HR</string>
	</dict>
</dict>
</plist>
